# ------------------------------------------------------------------------------
# |                      ### HEADER Modifikationen ###                         |
# ------------------------------------------------------------------------------
<IfModule mod_headers.c>

		# ------------------------------------------------------------------------------
		# |                     ### Sicherheitsrichtlinien ###                         |
		# ------------------------------------------------------------------------------
		Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'nonce-inlinejs'; style-src 'self'; img-src 'self' data:; font-src 'self'; connect-src 'self'; media-src 'none'; object-src 'none'; frame-src 'none'; worker-src 'none'; frame-ancestors 'none'; form-action 'none'; base-uri 'self'; manifest-src 'none'; upgrade-insecure-requests; block-all-mixed-content"
		Header always set Permissions-Policy: "accelerometer=(), autoplay=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()"
		Header set X-Frame-Options DENY
		Header set X-XSS-Protection "1; mode=block"
		Header set X-Permitted-Cross-Domain-Policies "none"
		Header set Referrer-Policy "strict-origin-when-cross-origin"
		Header always set X-Content-Type-Options "nosniff"
		Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure; SameSite=Strict"
		Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		Header always unset X-Powered-By

    	# ------------------------------------------------------------------------------
   		# |                      ### Cross-Origin Policies ###                         |
    	# ------------------------------------------------------------------------------
    	Header set Cross-Origin-Embedder-Policy "require-corp"
    	Header set Cross-Origin-Opener-Policy "same-origin-allow-popups"
    	Header set Cross-Origin-Resource-Policy "same-origin"
</IfModule>